<h2 class="ui header centered teal"> User Management App </h2>

<div class="ui grid">

  <div class="row">
    <div class="ui container">
      <form class="ui form" [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <h4 class="ui dividing header">Add New User:</h4>

        <div class="fields">

          <div [ngClass]="getClassUsername()">
                  <label>Username:</label>
                  <input type="text" formControlName="username" placeholder="Username..." autofocus required>  
          </div>

          <div [ngClass]="getClassEmail()">
            <label>Email:</label>
            <input type="email" formControlName="email" placeholder="Email..." required>
          </div>

          <div class="four wide field">
              <label>Age:</label>
              <input type="number" formControlName="age" min="10" max="100" placeholder="Age...">
            </div>
        </div>

          <div class="field">
              <label>Profile Image:</label>
              <input type="file" formControlName="profileImage">
          </div>

        <div class="field">
        <div class="ui slider checkbox">
            <input type="checkbox" formControlName="married" name="newsletter">
            <label>Married</label>
        </div>
        </div>

        <button class="ui button" type="reset"> Rest </button>
        <button type="submit" class="ui button green"><i class="user icon"></i> Add </button>
      
      </form>
    </div>
  </div>
  
    <div class="row">
      <div class="ui container">
        <div *ngIf="users.length > 0" [chart]="chart"></div>
      </div>
    </div>
    
  <div class="row">
    <div class="ui container three cards">    
      <div class="card" *ngFor="let user of users">
        <div class="content">
          <img src="/assets/users/profile1.png" alt="img" class="ui right floated image" width="60" height="60">
          <div class="header">
            username: {{user.username }}
          </div>
          <div class="meta">
            <b>age:</b> {{ user.age}} <br>
            <b>likes:</b> {{user.likes}}
          </div>
          <div class="description">
            email: {{user.email}}
            <small *ngIf="user.married" class="meta right floated">married</small>
          </div>
        </div>
        <div class="extra content">
          <button (click)="like(user.id, user)" class="ui inverted blue right floated button">
            <i class="thumbs up icon"></i> Like
          </button>
          <button type="button" class="ui basic green button">Edit</button>
          <button type="button" (click)="deleteUser(user.id)" class="ui basic red button">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>